Homework 2: Munkhchimeg Sukhee

In [145]:
# Creating list 
list_mix = ['Muyu','Ganba','Sugaraa', 90, 95, 100]
type(list_mix)

list

In [146]:
# Joining new element
", ".join(['Naraa', 'Zulaa'])
list_mix

['Muyu', 'Ganba', 'Sugaraa', 90, 95, 100]

In [147]:
# append, insert, extend list
#append
list_mix.append('Naraa')
list_mix.append(100)
#insert
list_mix.insert(100,"Zulaa")
#extend
add1=["Bat", "Bold", 100, 100]
list_mix.extend(add1)
#list_mix.append(add1)
list_mix

['Muyu',
 'Ganba',
 'Sugaraa',
 90,
 95,
 100,
 'Naraa',
 100,
 'Zulaa',
 'Bat',
 'Bold',
 100,
 100]

In [148]:
# remove element by index
list_mix.pop()  # delete last item
list_mix

['Muyu',
 'Ganba',
 'Sugaraa',
 90,
 95,
 100,
 'Naraa',
 100,
 'Zulaa',
 'Bat',
 'Bold',
 100]

In [149]:
list_mix.pop(8) # delete 9
list_mix

['Muyu', 'Ganba', 'Sugaraa', 90, 95, 100, 'Naraa', 100, 'Bat', 'Bold', 100]

In [150]:
del list_mix[1:2] # delete row 1, column 2
list_mix

['Muyu', 'Sugaraa', 90, 95, 100, 'Naraa', 100, 'Bat', 'Bold', 100]

In [151]:
list_mix.remove('Bat') # remove by value
list_mix

['Muyu', 'Sugaraa', 90, 95, 100, 'Naraa', 100, 'Bold', 100]

In [152]:
list_mix[2] = 'Dolgor' # adding as 3rd element
list_mix

['Muyu', 'Sugaraa', 'Dolgor', 95, 100, 'Naraa', 100, 'Bold', 100]

2. Converting date to text

In [156]:
import datetime
# from text to datetime
birthday_str = "20 April, 1988"
date_object = datetime.datetime.strptime(birthday_str, "%d %B, %Y")
print("birthday date_object =", date_object)

# from datetime to text
birthday_date = datetime.date(1988, 4, 20)
print("birthday string is", birthday_date.strftime("%d %B, %Y"))

birthday date_object = 1988-04-20 00:00:00
birthday string is 20 April, 1988

20 April, 1988