Homework 2: Munkhchimeg Sukhee

1. Working on list

In [159]:
# Creating list 
list_mix = ['Muyu','Ganba','Sugaraa', 90, 95, 100]
type(list_mix)

list

In [160]:
# Joining new element
", ".join(['Naraa', 'Zulaa'])
list_mix

['Muyu', 'Ganba', 'Sugaraa', 90, 95, 100]

In [161]:
# append, insert, extend list
#append
list_mix.append('Naraa')
list_mix.append(100)
#insert
list_mix.insert(100,"Zulaa")
#extend
add1=["Bat", "Bold", 100, 100]
list_mix.extend(add1)
#list_mix.append(add1)
list_mix

['Muyu',
 'Ganba',
 'Sugaraa',
 90,
 95,
 100,
 'Naraa',
 100,
 'Zulaa',
 'Bat',
 'Bold',
 100,
 100]

In [162]:
# remove element by index
list_mix.pop()  # delete last item
list_mix

['Muyu',
 'Ganba',
 'Sugaraa',
 90,
 95,
 100,
 'Naraa',
 100,
 'Zulaa',
 'Bat',
 'Bold',
 100]

In [163]:
list_mix.pop(8) # delete 9
list_mix

['Muyu', 'Ganba', 'Sugaraa', 90, 95, 100, 'Naraa', 100, 'Bat', 'Bold', 100]

In [164]:
del list_mix[1:2] # delete row 1, column 2
list_mix

['Muyu', 'Sugaraa', 90, 95, 100, 'Naraa', 100, 'Bat', 'Bold', 100]

In [165]:
list_mix.remove('Bat') # remove by value
list_mix

['Muyu', 'Sugaraa', 90, 95, 100, 'Naraa', 100, 'Bold', 100]

In [166]:
list_mix[2] = 'Dolgor' # adding as 3rd element
list_mix

['Muyu', 'Sugaraa', 'Dolgor', 95, 100, 'Naraa', 100, 'Bold', 100]

2. Converting date to text

In [167]:
import datetime
# from text to datetime
birthday_str = "20 April, 1988"
date_object = datetime.datetime.strptime(birthday_str, "%d %B, %Y")
print("birthday date_object =", date_object)

# from datetime to text
birthday_date = datetime.date(1988, 4, 20)
print("birthday string is", birthday_date.strftime("%d %B, %Y"))

birthday date_object = 1988-04-20 00:00:00
birthday string is 20 April, 1988

3. Converting a table to a dictionary

In [186]:
import csv
with open('table.csv') as csv_data:
    reader = csv.reader(csv_data)
    # eliminate blank rows if they exist
    rows = [row for row in reader if row]
    headings = rows[0] # get headings

    country_info = {}
    for row in rows[1:]:
        # append the dataitem to the end of the dictionary entry
        # set the default value of [] if this key has not been seen
        for col_header, data_column in zip(headings, row):
            country_info.setdefault(col_header, []).append(data_column)

    print(country_info)

{'\ufeffcountry': ['Mongolia', 'US', 'Germany', 'Australia'], 'continent': ['Asia', 'America', 'Europe', 'Australia'], 'pop': ['3', '300', '100', '15']}